name: CI

on:
    pull_request:
    push:
        branches: [main]

jobs:
    lint:
        name: Lint check
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm lint

    format:
        name: Format checks
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm format --check

    typecheck:
        name: Typechecks
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm typecheck

    test:
        name: Unit Tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm test:run

    build:
        name: Build
        needs: [lint, format, typecheck, test]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v3
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: 18
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm build
